main {
  margin: 0;
  background-color: #222831;
  color: white;
}

.navbar{
  background-color: #222831 !important;
}

.mission-text h1{
  color: #00ADB5;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3rem;
}

.mission-text p{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2rem;

}


.mission-text-sm h1{
  color: #00ADB5;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2rem;
}

.mission-text-sm p{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.3rem;

}


.choose{
  background-color: #EEEEEE !important;
  color: black ;
}

.choose-title h2{
  font-family: 'Playfair Display', serif !important;
} 

.choose-title p{
  font-family: 'Lato', serif !important;
  color: #818181;
} 


.reasons img{
  height: 40px;
}


.team-title h2{
  font-family: 'Playfair Display', serif !important;
} 

.team-title p{
  font-family: 'Lato', serif !important;
}


.carousel h3{
  font-size: 2rem; 
  color: white; 
  font-family: 'Playfair Display', serif; 
  font-weight: 800;
  text-align: center;
  margin-top: 5rem; 
  margin-bottom: 2rem;
}

.carousel-item span{
  background-color: #B3B3B3; 
  width: 3rem; 
  height: 3rem; 
  border-radius: 50%;
}

.connect h1{
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

.connect p{
  color: white;
  font-family: 'Lato', serif;

}


   .custom-input {
    background-color: #222831 !important; 
    color: white !important; 
    border: none;
    height: 60px; 
  }
.custom-input::placeholder {
  color: white !important;
  opacity: 0.7 !important; 
  font-size: 20px;
}

input::placeholder {
  font-size: 25px !important;
  padding: 10px;
  text-align: left !important;
  color: white;
}




.work-text h1{
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.work-text p{
  color: white;
  font-family: 'Lato', serif;
}


@media (min-width: 768px) { 
  .works{
    margin-top: 10rem !important;
  }
}

.cloud h1{
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

@media (min-width: 768px) { 
  .cloud{
    margin-top: 10rem !important;
  }
}


a{
  color: white !important;
  text-decoration: none !important;
}



.copyright li{
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  margin-bottom: 60px;
}



.social-media-links{
  gap: 10px;
  list-style-type: none;
}



/* 
.clients-review{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}

.clients-review h1{
  color: white;
  font-size: 56px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  line-height: 67px;
  margin-bottom: -10px;
}

.clients-review p{
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;


}


.reviews{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.review1{
width: 550px;
display: flex;
justify-content: center;
align-items: center;
background-color: #393E46;
border-radius: 48px;
display: flex;

}

.client-info1{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.client-info1 p{
  color: white;
  font-family: 'Lato', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

}


.dp{
  background-color: #B3B3B3;
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
}

.review2{
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393E46;
  border-radius: 48px;
  display: flex;
  
  }
  
  .client-info2{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
  }
  
  .dp2{
    background-color: #B3B3B3;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
  }

  .client-info2 p{
    color: white;
    font-family: 'Lato', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  
  }

  .back{
    border-radius: 56px;
    background-color: #222831;
    cursor: pointer;
    Padding: 10px 16px;
    width: 56px;
    height: 56px;
    
  }

  .forward{
    border-radius: 56px;
    background-color: #008A90;
  cursor: pointer;
  Padding: 10px 16px;
  width: 56px;
  height: 56px;
  }




.join-cloud{
background-color: #008A90;
color: white;
width: 200px;
border-radius: 8px;
padding: 16px 24px;
border: none;
}

.learn{
  background-color: #6F7989;
  color: white;
  width: 140px;
  border-radius: 8px;
  padding: 16px 24px;
}

 */
