main{
  background-color: #222831;
  color: white;
}

.home-page{
  position: relative;
}

.home-text{
  position: absolute;
  top: 25%;
}

@media (max-width: 576px) {
  .home-text{
    top: 10%;
  }
}

.home-text h1{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  letter-spacing: 0rem;
  font-size: clamp(20px, 8vw, 108px);
  width: 80%;
}

.home-text p{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: clamp(10px, 5vw, 36px);
}


.benefits h2{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: clamp(24px, 3vw, 36px);
}

.allbenefits{
  background-color: #393E46;
  border-radius: 1.75rem;
  font-family: 'Fira Sans', sans-serif; 
}


.card-title h1{
  font-weight: 800;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

.card-title p{
  font-weight: 400;
  font-family: 'Fira Sans', serif;
  font-size: 22px;
}


.plan h1{
  font-weight: 800;
  font-family: 'Playfair Display', serif;
}

.plan p{
  font-weight: 300;
}

.purpose-msg-sm h1{
  color: #00ADB5; 
  font-family: 'Playfair Display', serif; 
  font-size: 32px;
  font-weight: 800;
}

.purpose-msg-sm p{
  font-family: 'Playfair Display', serif; 
  font-size: 20px;
  font-weight: 400;
}

.purpose-msg-lg h1{
  color: #00ADB5; 
  font-family: 'Playfair Display', serif; 
  font-size: 40px;
  font-weight: 800;
}

.purpose-msg-lg p{
  font-family: 'Playfair Display', serif; 
  font-size: 30px;
  font-weight: 400;
}

.carousel h3{
  font-size: 2rem; 
  color: white; 
  font-family: 'Playfair Display', serif; 
  font-weight: 800;
  text-align: center;
  margin-top: 5rem; 
  margin-bottom: 2rem;
}

.carousel-item span{
  background-color: #B3B3B3; 
  width: 3rem; 
  height: 3rem; 
  border-radius: 50%;
}



  .clients-review{
    background-color: #393E46; 
    margin-top: 4rem;
  }

  .dp{
    background-color: #B3B3B3;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%; 
  }

  .clients-review h1{
    font-size: 3.5rem;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-align: center;
  }

  .reviews{
    margin-top: 5rem;
  }

  .client-info{
    padding: 1.25rem;
  }

  .review{
    margin-bottom: 5rem;
    width: 30rem;
    background-color: #222831;
    border-radius: 3rem;
    }

    .stars{
      padding: 1rem;
    }




    .custom-input {
      background-color: #222831 !important; 
      color: white !important; 
      border: none;
      height: 60px; 
    }
  .custom-input::placeholder {
    color: white !important;
    opacity: 0.7 !important; 
    font-size: 20px;
  }

  .custom-text-area {
    background-color: #222831 !important; 
    color: white !important; 
    border: none;

  }

  .custom-text-area::placeholder {
    color: white !important; 
    opacity: 0.7 !important;
    font-size: 20px;
  }
  .custom-input:focus {
    outline: none;
    box-shadow:  none !important; 
  }
  .contact-info h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;

  }


  .contact-info-lg h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 56px;
  }

.img-fluid{
  height: 100% !important;
}

a{
  color: white !important;
  text-decoration: none !important;
}



.copyright li{
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  margin-bottom: 60px;
}



.social-media-links{
  gap: 10px;
  list-style-type: none;
}
